body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background-color: #272938;
}

.Login {
  display: grid;
  grid: repeat(4, 100px) / repeat(6, 1fr);
}

h1 {
  margin: auto;
  grid-row: 1 / span 1;
  grid-column: 3 / span 2;
  color: #f00;
}

h1 span {
  color: #fff;
}

form {
  margin: auto;
  width: 80%;
  grid-row: 3 / span 2 ;
  grid-column: 3 / span 2;
}


.textfield {
  margin-bottom: 30% !important;
  width: 100%;
}

img {
  width: 50%;
  height: 200%;
  grid-row: 1 / span 1 ;
  grid-column: 5 / span 2;
  margin: auto;
  margin-top: 10%;
}

.button {
  margin: auto;
  width: 100%;
}
